## NAME: ADEYEMO OPEYEMI
### ID :

### ASSIGNMENT

In [2]:
import pandas as pd

In [3]:
data=pd.read_csv("sales_data_sample.csv",encoding="ISO-8859-1")
data

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2818,10350,20,100.00,15,2244.40,12/2/2004 0:00,Shipped,4,12,2004,...,"C/ Moralzarzal, 86",NaN,Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Small
2819,10373,29,100.00,1,3978.51,1/31/2005 0:00,Shipped,1,1,2005,...,Torikatu 38,NaN,Oulu,NaN,90110,Finland,EMEA,Koskitalo,Pirkko,Medium
2820,10386,43,100.00,4,5417.57,3/1/2005 0:00,Resolved,1,3,2005,...,"C/ Moralzarzal, 86",NaN,Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Medium
2821,10397,34,62.24,1,2116.16,3/28/2005 0:00,Shipped,1,3,2005,...,1 rue Alsace-Lorraine,NaN,Toulouse,NaN,31000,France,EMEA,Roulet,Annette,Small
2822,10414,47,65.52,9,3079.44,5/6/2005 0:00,On Hold,2,5,2005,...,8616 Spinnaker Dr.,NaN,Boston,MA,51003,USA,NaN,Yoshido,Juri,Medium

In [4]:
data.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium

In [5]:
data.shape

(2823, 25)

In [6]:
data.describe()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,QTR_ID,MONTH_ID,YEAR_ID,MSRP
count,2823.000000,2823.000000,2823.000000,2823.000000,2823.000000,2823.000000,2823.000000,2823.00000,2823.000000
mean,10258.725115,35.092809,83.658544,6.466171,3553.889072,2.717676,7.092455,2003.81509,100.715551
std,92.085478,9.741443,20.174277,4.225841,1841.865106,1.203878,3.656633,0.69967,40.187912
min,10100.000000,6.000000,26.880000,1.000000,482.130000,1.000000,1.000000,2003.00000,33.000000
25%,10180.000000,27.000000,68.860000,3.000000,2203.430000,2.000000,4.000000,2003.00000,68.000000
50%,10262.000000,35.000000,95.700000,6.000000,3184.800000,3.000000,8.000000,2004.00000,99.000000
75%,10333.500000,43.000000,100.000000,9.000000,4508.000000,4.000000,11.000000,2004.00000,124.000000
max,10425.000000,97.000000,100.000000,18.000000,14082.800000,4.000000,12.000000,2005.00000,214.000000

### SALE AND REVENUES ANALYSIS

##### 1.	What is the total revenue generated from sales

In [237]:
total_revenue=data['SALES'].sum()
total_revenue

10032628.85

##### 2.	What are the top 5 best-selling products based on total sales?

In [17]:
top_5_products = data.groupby("PRODUCTCODE")["SALES"].sum().nlargest(5)
top_5_products

PRODUCTCODE
S18_3232    288245.42
S10_1949    191073.03
S10_4698    170401.07
S12_1108    168585.32
S18_2238    154623.95
Name: SALES, dtype: float64

In [19]:
data['PRODUCTCODE']

0       S10_1678
1       S10_1678
2       S10_1678
3       S10_1678
4       S10_1678
          ...
2818    S72_3212
2819    S72_3212
2820    S72_3212
2821    S72_3212
2822    S72_3212
Name: PRODUCTCODE, Length: 2823, dtype: object

In [20]:
data.columns

Index(['ORDERNUMBER', 'QUANTITYORDERED', 'PRICEEACH', 'ORDERLINENUMBER',
       'SALES', 'ORDERDATE', 'STATUS', 'QTR_ID', 'MONTH_ID', 'YEAR_ID',
       'PRODUCTLINE', 'MSRP', 'PRODUCTCODE', 'CUSTOMERNAME', 'PHONE',
       'ADDRESSLINE1', 'ADDRESSLINE2', 'CITY', 'STATE', 'POSTALCODE',
       'COUNTRY', 'TERRITORY', 'CONTACTLASTNAME', 'CONTACTFIRSTNAME',
       'DEALSIZE'],
      dtype='object')

#### 3.	What is the average order value (total sales / number of orders)?

In [243]:
num_orders = data["ORDERNUMBER"].nunique()
print(number_of_orders)
average_order_value = total_revenue / num_orders
print(average_order_value)

307
32679.57280130293

#### 4.	Which month has the highest sales?

In [245]:
highest_sales_month=data.groupby('MONTH_ID')['SALES'].sum().idxmax()
highest_sales_month

11

#### 5.	How do quarterly sales trends vary over the years?

In [253]:
quarterly_sales = data.groupby(["YEAR_ID", "QTR_ID"])['SALES'].sum().unstack()
quarterly_sales

QTR_ID            1          2           3           4
YEAR_ID
2003      445094.69  562365.22   649514.54  1860005.09
2004      833730.68  766260.73  1109396.27  2014774.92
2005     1071992.36  719494.35         NaN         NaN

### Customer & Market Insights

#### 6.	Who are the top 5 customers based on revenue?

In [256]:
top_5_customers=data.groupby('CUSTOMERNAME')['SALES'].sum().nlargest(5)
top_5_customers

CUSTOMERNAME
Euro Shopping Channel           912294.11
Mini Gifts Distributors Ltd.    654858.06
Australian Collectors, Co.      200995.41
Muscle Machine Inc              197736.94
La Rochelle Gifts               180124.90
Name: SALES, dtype: float64

#### 7.	What is the distribution of orders by deal size (small, medium, large)?

In [38]:
order_dealsize=data['DEALSIZE'].value_counts()
order_dealsize

DEALSIZE
Medium    1384
Small     1282
Large      157
Name: count, dtype: int64

#### 8.	Which country generates the most revenue?

In [40]:
country_with_highestRevenue=data.groupby('COUNTRY')['SALES'].sum().idxmax()
country_with_highestRevenue

'USA'

#### 9.	How does sales performance vary by territory?

In [45]:
sales_acrossTerritory=data.groupby('TERRITORY')['SALES'].sum()
sales_acrossTerritory

TERRITORY
APAC      746121.83
EMEA     4979272.41
Japan     455173.22
Name: SALES, dtype: float64

In [47]:
sales_by_territory = data.groupby("TERRITORY")["SALES"].sum().dropna()
sales_by_territory

TERRITORY
APAC      746121.83
EMEA     4979272.41
Japan     455173.22
Name: SALES, dtype: float64

#### 10.What is the most common order quantity?

In [90]:
mostcommon_orderquantity=data['QUANTITYORDERED'].mode()
mostcommon_orderquantity

0    34
Name: QUANTITYORDERED, dtype: int64

In [92]:
mostcommon_orderquantity=data['QUANTITYORDERED'].mode()[0]
mostcommon_orderquantity

34

### PRODUCT PERFORMANCE

#### 11. What is the profit margin per product (assuming MSRP - PRICEEACH)?

In [102]:
PROFIT_MARGIN = data["MSRP"] - data["PRICEEACH"]
PROFIT_MARGIN

0       -0.70
1       13.65
2        0.26
3       11.74
4       -5.00
        ...
2818   -46.00
2819   -46.00
2820   -46.00
2821    -8.24
2822   -11.52
Length: 2823, dtype: float64

#### 12. Which product line contributes the most to total sales?

In [267]:
top_productline=data.groupby('PRODUCTLINE')['SALES'].sum().idxmax()
top_productline

'Classic Cars'

#### 13. How does pricing affect order quantities?

In [113]:
pricing_quantity_correlation = data["PRICEEACH"].corr(data["QUANTITYORDERED"])
pricing_quantity_correlation

0.005564033259239912

#### 14. What is the relationship between MSRP and sales performance?

In [115]:
corr_MSRP_Sales=data['MSRP'].corr(data['SALES'])
corr_MSRP_Sales

0.6352394340572505

#### 15. How many unique products are sold in the dataset?

In [292]:
unique_products_count = data["PRODUCTCODE"].nunique()
unique_products_count

109

#### 16.	What is the average delivery time based on order status and order date?

In [1]:
average_delivery_time = data.groupby("STATUS")["ORDERDATE"]).mean()
average_delivery_time

SyntaxError: unmatched ')' (1939337876.py, line 1)

#### 17.	What percentage of orders are pending, shipped, or canceled?

In [269]:
order_status_distribution=data['STATUS'].value_counts(normalize=True)*100
order_status_distribution

STATUS
Shipped       92.702798
Cancelled      2.125399
Resolved       1.664896
On Hold        1.558626
In Process     1.452356
Disputed       0.495926
Name: proportion, dtype: float64

#### 18.	What is the average number of orders per customer?

In [205]:
average_orders_per_customer = data["ORDERNUMBER"].nunique() / data["CUSTOMERNAME"].nunique()
average_orders_per_customer

3.3369565217391304

#### 19.	How many orders are placed per month?

In [273]:
orders_per_month = data.groupby("MONTH_ID")["ORDERNUMBER"].nunique()
orders_per_month

MONTH_ID
1     25
2     25
3     25
4     26
5     28
6     16
7     16
8     17
9     20
10    30
11    61
12    18
Name: ORDERNUMBER, dtype: int64

In [217]:
data['QUANTITYORDERED']

0       30
1       34
2       41
3       45
4       49
        ..
2818    20
2819    29
2820    43
2821    34
2822    47
Name: QUANTITYORDERED, Length: 2823, dtype: int64

#### 20. Are there seasonal trends in sales performance?

In [225]:
seasonal_trends = data.groupby("QTR_ID")["SALES"].mean()
seasonal_trends

QTR_ID
1    3535.064256
2    3650.838324
3    3496.840577
4    3541.846444
Name: SALES, dtype: float64